@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
  font-family: "Poppins", cursive;
  margin: 0;
  box-sizing: border-box;

}

html, body {
  padding:0;
  margin:0;
  width: 100%;
  min-height: 100%;
}

body{
  background: #0f0c29;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #24243e, #302b63, #0f0c29); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: linear-gradient(to right bottom, #24549d, #0073b8, #0092ce, #00b1df, #12cfeb);
}

.App {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-direction: column;
  box-sizing: border-box;
}

.register{
  /* max-width: 978px; */
  max-width: min(100%, (1200px + 32px * 2));
  margin-left: auto;
  margin-right: auto;
  padding-top:0.005px;
  padding-left: 16px;
  padding-right: 16px;
  /* display:flex; */
  border: 1px solid #e9ecef;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: white;
  margin-top: 2rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  @media(max-width: 500px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.register span{
  color: #adb5bd;
}

#loginform{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;

}

.login-input>input,
.btn {
  border: 1px solid #e9ecef;
  padding: .6em 1em;
  width: 100%
}

.login-input {
  padding-bottom: 20px;
}

.register-here {
  text-align: right;
  padding-top: 10px;

}

.register-here:hover {
  text-decoration: underline;

}

.row-1 div {
  flex:1;
  gap:1rem;
}
/* input {
  width:100%;
} */
#loginform > input:focus{
  outline: none;
}

#loginform > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

#loginform > .btn:hover{
  background-color: rgba(0,48,73,0.9);
  transition: all 0.15s ease;

}

#form{
  max-width: 450px;
  width: 100vw;
  margin: 2em auto
}

#form > .btn{
  border: 1px solid #e9ecef;
  padding: .6em 1em;
}

#form > input:focus{
  outline: none;
}

/* #form > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
} */

.flex{
  display: flex;
  /* gap: 1em; */
}

.flex-col{
  flex-direction: column;
}

.register .col-1{
  margin: auto;
  padding: 1rem 0;
}

.success-message {
  margin-top: 1rem;
  color: green !important;
  text-align: center;
}

.register .col-2 img{
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
  }
}

.error{
  color: red !important;
  font-size: 10px;

}

.error-para {
  padding-bottom: 5px;

}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(0, 48, 73)
}

.registerform {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 450px;
  /* margin-left: 45px; */

}

.registerform .row-1 {
  display: flex;
  gap: 0.5rem;
}

.registerform>div {
  flex-direction: row;

}

.registerbtn {
  display: flex;
  /* margin: 0px 65px 0px 55px; */
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.registerbtn .btn {
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.registerbtn>.btn:hover {
  background-color: rgba(0, 48, 73, 0.9);
  transition: all 0.15s ease;

}

.registerform>div>div>input,
select {
  margin: 10px 0;
  padding: 10px 10px;
  flex: 1;
}

.test {
  display: flex;
  flex-direction: column;
  overflow: auto
}

.popup-wrapper {
  position: relative;

}

.popup-wrapper a {
  position: absolute;
  top: 24px;
  right: 5px;
}

.popup-content {
  background-color: rgba(255, 245, 255, 1);
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);


}

/* 
#loanform div {
  display:flex;
 
  justify-content: center;
  align-items: center;
} */

#loanform .btn {
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;

}

.header {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
}

.header .btn {
  background-color: #003049;

  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  width: fit-content
}

.header .btn a {

  color: #e9ecef;


}

.header-logo {
  display: flex;
  gap: 1rem;
}

.header-logo .logo {
  cursor: pointer;
}

.loan-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loan-details div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.loan-field {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  /* align-items: center; */
  /* gap:1rem; */
}

.loan-field div {

  padding-bottom: 5px;


}

.loan-filed-actype {
  display: flex;

}

.Acctype label {

  padding-left: 6px;

}

.input-loan input {
  width: 350px;
  border: 1px solid #e9ecef;
  padding: .6em 1em;
}

.col-1 h2 {
  text-align: center;
  padding-bottom: 12px;
}

.register1 input {
  width: 100%;

}

.head-loan {
  text-align: center;
  padding-bottom: 10px;
}

.error-page{
  color:indianred;
  background-color: white;
  border: 1px solid #e9ecef;
  border-radius: 5px;
 
}