#loginform{
  max-width: 320px;
  width: 100vw; 
   margin: 2em auto
}
#loginform >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .6em 1em;
}

  
#loginform > input:focus{
  outline: none;
}

#loginform > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}
